force-app/main/default/flows/Job_App_Settings_Adjuster_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When settings are updated, this performs an immediate callout to pull in records corresponding to the new parameters</description>
        <name>Immediate_Callout</name>
        <label>Immediate Callout</label>
        <locationX>624</locationX>
        <locationY>395</locationY>
        <actionName>JoobleSettingsCalloutService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>JoobleSettingsCalloutService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_updating_variable</name>
        <label>Set updating variable</label>
        <locationX>417</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>jobAppSettings.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Job_App_Settings_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobAppSettings.Keyword__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Job_App_Settings_Record.Keyword__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobAppSettings.Desired_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Job_App_Settings_Record.Desired_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobAppSettings.Desired_Salary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Job_App_Settings_Record.Desired_Salary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tailor_Your_Job_Search</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Job App Settings Adjuster Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job App Settings Adjuster Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Job_App_Settings_Record</name>
        <label>get Job App Settings Record</label>
        <locationX>185</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_updating_variable</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_App_Settings__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_App_Settings_Record</name>
        <label>Update Job App Settings Record</label>
        <locationX>798</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Immediate_Callout</targetReference>
        </connector>
        <inputReference>jobAppSettings</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>795</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finalScreenForFlow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Good News {!$User.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your settings have been updated and new job records have been fetched!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tailor_Your_Job_Search</name>
        <label>Tailor Your Job Search</label>
        <locationX>598</locationX>
        <locationY>151</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Job_App_Settings_Record</targetReference>
        </connector>
        <fields>
            <name>Tailor_Your_Job_Search_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tailor_Your_Job_Search_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>jobAppSettings.Keyword__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>jobAppSettings.Desired_Salary__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>jobAppSettings.Desired_Location__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>get_Job_App_Settings_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>jobAppSettings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_App_Settings__c</objectType>
    </variables>
    <variables>
        <name>var_Job_Application_Settings</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_App_Settings__c</objectType>
    </variables>
</Flow>
